.publicacion--titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.publicacion--titulo:hover {
  color: blue;
}

#titulo {
  color: royalblue;
}

h5 {
  color: mintcream;
}
